.idea
.ipynb_checkpoints
__pycache__/
*egg-info
.DS_Store
.vscode
data.ipynb
venv
launch.sh
breedgym/data/medium_genetic_map.txt
breedgym/data/medium_geno.npy
breedgym/data/geno.txt
breedgym/data/big_geno.txt
